<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Koreanbots Lib Viewer</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  </head>
  <body>
    <article>
        <h1>Koreanbots Lib Viewer</h1>
        <p>한디리에서 봇의 라이브러리를 보여줍니다</p>
        <a href="https://github.com/simsimler/koreanbots-lib-viewer">GitHub</a>
        <a href="https://github.com/wonderlandpark/quotation">참고한 코드</a>
    </article>
  </body>
</html>